body {
    text-align:center;
    background: #4D7A97;
}
.col-md-6 {
    border:1px #fbf9ee solid;
    background: #EEEEFF;
    padding:1em 2em;
    margin:auto;
    margin-top: 10%;
    align-content: center;
}